{% extends "base.html" %} 
{% block homeactive %}active{% endblock homeactive%}
{% block body %}
<div class="container">
  <h1 class="my-3">Welcome to coders blog</h1>
  {% for blog in blogs %}

  <div class="my-4">
    <h3 class="text-dark"><a class="text-dark"href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h3>
    <div class="my-2">
        {{blog.content | slice:245}}...
    </div>

    <a href="/blogpost/{{blog.slug}}"class="text-dark"><button class="btn btn-primary">Read More...</button></a>
  </div>
  {% endfor %}
</div>
{% endblock body %}
